*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background:#0c1022;
}
.underline{
    height:3px;
    background-color:rgba(255, 255, 255, 0.384);
    margin:0 auto;
    border:1px solid gray;
}


@media (max-width:480px) {
    .underline{
        margin:0 auto;
        width:90%;
    }
}
html{
    /* overflow-y: hidden; */
    overflow-x: hidden;
}
/* .container{
    max-width: 1100px !important;
} */