
/* features part start here */

.features{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:25px;
}
.features-1{
    display:flex;
    flex-direction: column;
    gap:10px;
    position: relative;
}
.span{
    position:absolute;
    top:0;
    left:0;
}
.features-2{
    display:flex;
    flex-direction: column;
    gap:25px;
    margin-left:-260px;
}
.features-3 h3{
    color:white;
}
.features-3 h6{
    color:rgba(95, 95, 209, 0.719);
}
.features_btn{
    width: 100%;
}

/* features part end here */


/* features_down part start here */
.circle{
    position:relative;
    width:10vh;
    height:10vh;
    background: rgb(51,204,255);
    background: linear-gradient(90deg, rgba(51,204,255,1) 0%, rgba(255,0,102,1) 35%, yellow);
    border-radius:50%;
    animation:animate 0.5s linear infinite;
    transition:animate .5s linear;
}
@keyframes animate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.circle:after{
    content:'';
    position:absolute;
    top:5px;
    right:5px;
    bottom:5px;
    left:5px;
    background-color:white;
    border-radius:50%;
}
.circle span:nth-child(1){
    filter:blur(20px);
}
.circle span:nth-child(2){
    filter:blur(30px);
}
.circle span:nth-child(3){
    filter:blur(55px);
}
.circle span:nth-child(4){
    filter:blur(20px);
}
.mid_img{
    position:relative; 
}
.mid_img img{
    width: 1200px !important;
}
.animation{
    position:absolute;
    justify-content: center;
    align-items:center;
}
.features_down{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* features_down part end here */


/* responsive part start here */
@media(max-width:992px){
    .features-2{
        margin-left:0px;
    }
    .features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-3{
        text-align:center;
        margin-bottom:20px;
    }
    .features-1{
        justify-content: center;
        align-items: center;
        position:relative;
    }
    .span{
        position:absolute;
        top:0;
        left:0;
    }
    .mid_img img{
        width: 900px !important;
    }
}
@media(max-width:768px){
    .features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features-1{
        justify-content: center;
        align-items: center;
    }
    .features-3{
        text-align:center;
        margin-bottom:20px;
    }

}
/* responsive part end here */
