
/* nav_banner part start here */

.nav_banner{
    display:flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content:space-between;
    align-items: center;
}


.nav_banner-right{
    /* max-width:800px; */
}

.box{
    position:relative;
    width: 600px;
    height:400px;
    background:rgba(0,0,0,0.75);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    flex-direction: column;
}

.box:hover{
    box-shadow: rgba(240, 240, 245, 0.25) 0px 13px 27px -5px, rgba(245, 238, 238, 0.3) 0px 8px 16px -8px;
    cursor:pointer;
}

.box span{
    position:absolute;
    inset: 1ex;
    background:#0c1022;
    border-radius:16px;
    z-index:1;
}

.box h2{
    position:relative;
    z-index:2;
    color:white;
    font-size:2rem;
    margin-top:-25px;
}
.box article{
    z-index: 3;
    color:white;
    word-wrap: break-word;
    padding:5px;
}
.box  button{
    z-index: 4;
}


.box::after{
    content:'';
    position:absolute;
    width:500px;
    height:500px;
    background-image:conic-gradient(transparent,transparent,transparent , #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.box::before{
    content:'';
    position:absolute;
    width:500px;
    height:500px;
    background-image:conic-gradient(transparent,transparent,transparent , #00ccff);
    animation: animate 4s linear infinite; 
}
/* nav_banner part end here */

/* nav_banner-icon part start here */

.nav_icon-lower{
    background:tomato;
    width:80px;
    height:80px;
    border-radius:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    color:white;
    text-decoration:none;
    pointer-events: none;
    transition:all .4s ease-in-out;
}
.icon_catagories article h1,p{
    color:white;
}
.icon_catagories article h1{
    font-size:24px;
}
.icon_catagories{
    display:flex;
    /* grid-template-columns:repeat(3, 1fr) ; */
    justify-content: space-between;
    align-items: center;
    margin:50px 0;
}

/* nav_banner-icon part end here */



@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.clip-path img{
    -webkit-clip-path: circle(58.2% at 60% 43%);
    clip-path: circle(58.2% at 60% 43%);
    justify-content:end;
}



/* responsive part start here */
@media (max-width:480px) {
    .box{
        width:200px;
    }
    .box h2{
        font-size:16px;
    }
    .box article{
        font-size:14px;
    }
    .nav_banner{
        flex-direction: column-reverse;
        text-align:center;
        margin:0 auto;
    }
    .nav_banner-left .clip-path img{
        width:80px;
        height:auto;
    }
    .icon_catagories{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* text-align:center; */
    }
    .fa-solid{
        margin: 0 auto;
    }
}
@media (max-width:768px){
    .box{
        width:200px;
    }
    .box h2{
        font-size:16px;
    }
    .box article{
        font-size:14px;
    }
    .nav_banner{
        flex-direction: column-reverse;
        text-align:center;
        margin:0 auto;
    }
    .nav_banner-left .clip-path img{
        width:250px;
        height:auto;
        margin-bottom:15px;
    }
    .icon_catagories{
        gap:10px;
    }
    .icon_catagories article h1{
        font-size:16px;
    }
    .icon_catagories article p{
        font-size:14px;
    }
    .nav_icon-lower{
        width:50px;
        height:50px;
        font-size:25px;
    }
}


@media (max-width:992px){
    .nav_banner{
        flex-direction: column-reverse;
        text-align:center;
        margin:0 auto;
    }
    .nav_banner-left .clip-path img{
        margin-bottom:15px;
    }
    /* .icon_catagories{
        grid-template-columns: repeat(3, 1fr);
    } */
}
/* responsive part ebd here */